{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css')}}">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All <a class="cafe_link" href="{{ url_for('add_cafe') }}">Cafes</a></h1>
	  <table class="table">
         <thead>
            <tr>
                {% for cafe in cafes %}
                    {% for item in cafe %}
                        {% if 'http' in item %}
                            <th scope="col"><a href="{{ item }}">Maps Link</a></th>
                        {% else %}
                            <th scope="col">{{ item }}</th>
                        {% endif %}
                    {% endfor %}
            </tr>
                {% endfor %}
          </thead>

  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
